#shortest-path-solver {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#shortest-path-solver .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#shortest-path-solver button {
  margin: 2rem 0;
}

#shortest-path-solver #finishNode-container {
  justify-content: flex-start;
  margin-top: 4rem;
}

#shortest-path-solver #finishNode-container input {
  float: left;
}

#shortest-path-solver #shortest-path-solver-equals-btn {
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  #shortest-path-solver button {
    margin: calc(0.74 * 2rem) calc(0.74 * 0);
  }
  #shortest-path-solver #finishNode-container {
    margin-top: calc(0.74 * 4rem);
  }
  #shortest-path-solver #shortest-path-solver-equals-btn {
    margin: calc(0.74 * 2rem) calc(0.74 * 0);
  }
}