#fraction-simplifier {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#fraction-simplifier input {
  height: 64px;
  width: 200px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid var(--border-grime);
  border-radius: 4px;
  background: var(--bg-grey-dark);
  font-family: 'JetBrains Mono';
  font-size: 1.2rem;
  color: var(--text-grey);
  transition: var(--stock);
}

#fraction-simplifier input:hover {
  border: 1px solid var(--border-pseudowhite);
}

#fraction-simplifier input:focus {
  color: var(--text-pseudowhite);
  border: 1px solid var(--orange-dark);
}

#fraction-simplifier hr {
  width: calc(100% - 6px);
  height: 1px;
  border: 0;
  border-top: 1px solid var(--text-grey);
  margin: -1px 0 -2px 0;
  z-index: 0;
}

#fraction-simplifier #fraction-simplifier-equals-btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--orange-dark);
  color: var(--text-grey);
  padding: auto;
  height: 64px;
  width: 64px;
  border: 0;
  border-radius: 50%;
  transition: var(--stock);
  cursor: pointer;
  margin: 3rem 0;
}

#fraction-simplifier #fraction-simplifier-equals-btn:hover {
  background-color: var(--orange-light);
  color: var(--text-pseudowhite);
}

@media only screen and (max-width: 600px) {
  #fraction-simplifier input {
    height: calc(0.66 * 64px);
    width: calc(0.66 * 200px);
    padding: calc(0.66 * 0) calc(0.66 * 12px);
    font-size: calc(0.66 * 1.2rem);
  }
  #fraction-simplifier #fraction-simplifier-equals-btn {
    font-size: calc(0.66 * 1.6rem);
    padding: calc(0.66 * 20px);
    height: calc(0.66 * 64px);
    width: calc(0.66 * 64px);
    margin: calc(0.66 * 3rem) calc(0.66 * 0);
  }
}