#common-unit-converter {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#common-unit-converter .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#common-unit-converter select {
  font-family: 'JetBrains Mono';
  font-size: 1.2rem;
  background: url(http://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) 100% no-repeat var(--bg-pseudowhite);
  border: 2px solid var(--bg-pseudowhite);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 12px;
  height: 45px;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background-position-x: 98%;
  width: 360px;
  transition: var(--stock);
}

#common-unit-converter select:hover {
  background-color: var(--bg-white);
  border: 2px solid var(--bg-white);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

#common-unit-converter input {
  width: 360px;
  height: 64px;
  padding-left: 12px;
  padding-right: 12px;
  border-top: 1px solid var(--border-grime);
  border-left: 1px solid var(--border-grime);
  border-right: 1px solid var(--border-grime);
  border-bottom: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: var(--bg-grey-dark);
  font-family: 'JetBrains Mono';
  font-size: 1.2rem;
  color: var(--text-grey);
  transition: var(--stock);
}

#common-unit-converter input:hover {
  border-top: 1px solid var(--border-pseudowhite);
  border-left: 1px solid var(--border-pseudowhite);
  border-right: 1px solid var(--border-pseudowhite);
}

#common-unit-converter input:focus {
  color: var(--text-pseudowhite);
  border-top: 1px solid var(--orange-dark);
  border-left: 1px solid var(--orange-dark);
  border-right: 1px solid var(--orange-dark);
}

#common-unit-converter #common-unit-converter-category {
  border-radius: 2px;
  margin-bottom: 3rem;
}

#common-unit-converter #common-unit-converter-equals-btn {
  font-size: 1.6rem;
  background-color: var(--orange-dark);
  color: var(--text-grey);
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: auto;
  height: auto;
  border-radius: 50%;
  transition: var(--stock);
  cursor: pointer;
}

#common-unit-converter #common-unit-converter-equals-btn:hover {
  background-color: var(--orange-light);
  color: var(--text-pseudowhite);
}

#common-unit-converter .common-unit-converter-unit {
  display: none;
}

#common-unit-converter .common-unit-converter-area-unit {
  display: block;
}

@media only screen and (max-width: 600px) {
  #common-unit-converter select {
    font-size: calc(0.66 * 1.2rem);
    padding: calc(0.66 * 12px);
    width: calc(0.66 * 360px);
    height: auto;
  }
  #common-unit-converter input {
    width: calc(0.66 * 360px);
    height: calc(0.66 * 64px);
    padding-left: calc(0.66 * 12px);
    padding-right: calc(0.66 * 12px);
    font-size: calc(0.66 * 1.2rem);
  }
  #common-unit-converter #common-unit-converter-category {
    border-radius: calc(0.66 * 2px);
    margin-bottom: calc(0.66 * 3rem);
  }
  #common-unit-converter #common-unit-converter-equals-btn {
    font-size: calc(0.66 * 1.6rem);
    padding: calc(0.66 * 20px);
    margin-top: calc(0.66 * 3rem);
    margin-bottom: calc(0.66 * 3rem);
  }
}