#fraction-simplifier {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#fraction-simplifier input {
  width: 200px;
}

#fraction-simplifier hr {
  width: calc(100% - 4px);
  height: 1px;
  border: 0;
  border-top: 2px solid var(--silhouette-light);
  margin: -2px 0 -3px 0;
  z-index: 0;
}

#fraction-simplifier #fraction-simplifier-equals-btn {
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  #fraction-simplifier input {
    width: calc(0.74 * 200px);
  }
  #fraction-simplifier #fraction-simplifier-equals-btn {
    margin: calc(0.74 * 2rem) calc(0.74 * 0);
  }
}