#app-unit-converter {
  font-family: 'JetBrains Mono';
  background-color: var(--coal);
  color: var(--white);
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#app-unit-converter .converter {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

#app-unit-converter select {
  font-family: 'JetBrains Mono';
  font-size: 14px;
  background: url(http://ssl.gstatic.com/ui/v1/disclosure/grey-disclosure-arrow-up-down.png) 100% no-repeat var(--white);
  border: 2px solid var(--white);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 12px;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  background-position-x: 98%;
  width: 360px;
  transition: var(--stock);
}

#app-unit-converter select:hover {
  background-color: var(--trueWhite);
  border: 2px solid var(--trueWhite);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .10);
  -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
  box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

#app-unit-converter input {
  width: 360px;
  height: 64px;
  padding-left: 12px;
  padding-right: 12px;
  border-top: 2px solid var(--grey);
  border-left: 2px solid var(--grey);
  border-right: 2px solid var(--grey);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: transparent;
  font-family: 'JetBrains Mono';
  font-size: 24px;
  color: var(--white);
  transition: var(--stock);
}

#app-unit-converter input:hover {
  border-top: 2px solid var(--trueWhite);
  border-left: 2px solid var(--trueWhite);
  border-right: 2px solid var(--trueWhite);
}

#app-unit-converter input:focus {
  border-top: 2px solid var(--darkOrange);
  border-left: 2px solid var(--darkOrange);
  border-right: 2px solid var(--darkOrange);
}

#app-unit-converter #unit-converter-category {
  border-radius: 2px;
  margin-bottom: 30px;
}

#app-unit-converter .equals-btn {
  font-size: 18px;
  background-color: var(--darkOrange);
  color: var(--white);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  height: auto;
  border-radius: 50%;
  transition: var(--stock);
  cursor: pointer;
}

#app-unit-converter .equals-btn:hover {
  background-color: var(--lightOrange);
}

#app-unit-converter .unit-converter-unit {
  display: none;
}

#app-unit-converter .unit-converter-area-unit {
  display: block;
}