#basic-calculator {
  width: auto;
}

#basic-calculator #basic-calculator-display {
  padding: 2rem;
}

#basic-calculator #basic-calculator-display-cli {
  font-family: 'JetBrains Mono';
  font-size: auto;
  height: 1rem;
  font-weight: 300;
  color: var(--text-dark);
  text-align: right;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

#basic-calculator #basic-calculator-display-output {
  font-family: 'JetBrains Mono';
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--text-light);
  text-align: right;
}

#basic-calculator #basic-calculator-numpad {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding: 2rem;
}

#basic-calculator .basic-calculator-numpad-key {
  font-family: 'JetBrains Mono';
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text-dark);
  text-align: center;
  height: auto;
  width: auto;
  padding: 20px;
  border: 0;
  border-radius: 50%;
  transition: var(--stock);
  -webkit-transition: var(--stock);
  -moz-transition: var(--stock);
  cursor: pointer;
}

#basic-calculator .basic-calculator-numpad-transparent {
  background: transparent;
}

#basic-calculator .basic-calculator-numpad-transparent:hover {
  background: var(--silhouette-light);
  color: var(--text-light);
}

#basic-calculator .basic-calculator-numpad-orange {
  background: var(--orange-dark);
}

#basic-calculator .basic-calculator-numpad-orange:hover {
  background: var(--orange-light);
  color: var(--text-light);
}

#basic-calculator .basic-calculator-numpad-grey {
  background: var(--silhouette-dark);
}

#basic-calculator .basic-calculator-numpad-grey:hover {
  background: var(--silhouette-light);
  color: var(--text-light);
}

@media only screen and (max-width: 600px) {
  #basic-calculator #basic-calculator-display {
    padding: 1rem;
  }
  #basic-calculator #basic-calculator-display-cli {
    font-size: 0.5rem;
    letter-spacing: 0.25rem;
    margin-bottom: 0.5rem;
  }
  #basic-calculator #basic-calculator-display-output {
    font-size: 1.2rem;
  }
  #basic-calculator #basic-calculator-numpad {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 1rem;
  }
  #basic-calculator .basic-calculator-numpad-key {
    font-size: 0.8rem;
    padding: 10px;
  }
}