#gcd-hcf-solver {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#gcd-hcf-solver #gcd-hcf-solver-first-input {
  margin-right: 2rem;
}

#gcd-hcf-solver input {
  width: 200px;
}

#gcd-hcf-solver #gcd-hcf-solver-equals-btn {
  margin: 2rem 0;
}

@media only screen and (max-width: 600px) {
  #gcd-hcf-solver #gcd-hcf-solver-first-input {
    margin-right: calc(0.74 * 2rem);
  }
  #gcd-hcf-solver input {
    width: calc(0.74 * 200px);
  }
  #gcd-hcf-solver #gcd-hcf-solver-equals-btn {
    margin: calc(0.74 * 2rem) calc(0.74 * 0);
  }
}