#common-unit-converter {
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#common-unit-converter .container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#common-unit-converter input, select {
  width: 360px;
}

#common-unit-converter #common-unit-converter-category {
  margin-bottom: 2rem;
}

#common-unit-converter input {
  border-top: 2px solid var(--silhouette-light);
  border-left: 2px solid var(--silhouette-light);
  border-right: 2px solid var(--silhouette-light);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 72px;
  margin-bottom: -2px;
}

#common-unit-converter input:hover {
  border-top: 2px solid var(--orange-dark);
  border-left: 2px solid var(--orange-dark);
  border-right: 2px solid var(--orange-dark);
}

#common-unit-converter input:focus {
  border-top: 2px solid var(--orange-light);
  border-left: 2px solid var(--orange-light);
  border-right: 2px solid var(--orange-light);
}

#common-unit-converter #common-unit-converter-equals-btn {
  margin: 2rem 0;
}

#common-unit-converter .common-unit-converter-unit {
  display: none;
}

#common-unit-converter .common-unit-converter-area-unit {
  display: block;
}

@media only screen and (max-width: 600px) {
  #common-unit-converter input, select {
    width: calc(0.74 * 360px);
  }
  #common-unit-converter #common-unit-converter-category {
    margin-bottom: calc(0.74 * 2rem);
  }
  #common-unit-converter input {
    height: calc(0.74 * 72px);
  }
  #common-unit-converter #common-unit-converter-equals-btn {
    margin: calc(0.74 * 2rem) calc(0.74 * 0);
  }
}