#basic-calculator {
  width: 354px;
  max-width: 354px;
}

#basic-calculator #basic-calculator-display {
  padding: 2rem;
}

#basic-calculator #basic-calculator-display-cli {
  font-weight: 400;
  color: lightgrey;
  text-align: right;
  font-size: 1rem;
  height: 1rem;
  letter-spacing: 0.25rem;
  margin-bottom: 1rem;
}

#basic-calculator #basic-calculator-display-output {
  font-weight: 500;
  color: var(--pseudowhite);
  text-align: right;
  font-size: 2.4rem;
}

#basic-calculator #basic-calculator-numpad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 2rem;
}

#basic-calculator .basic-calculator-numpad-key {
  font-weight: 300;
  color: var(--pseudowhite);
  text-align: center;
  border: 0;
  border-radius: 50%;
  transition: var(--stock);
  -webkit-transition: var(--stock);
  -moz-transition: var(--stock);
  cursor: pointer;
  font-size: 1.6rem;
  height: 64px;
  width: 64px;
}

#basic-calculator .basic-calculator-numpad-key:hover {
  color: white;
}

#basic-calculator .basic-calculator-numpad-transparent {
  background: transparent;
}

#basic-calculator .basic-calculator-numpad-transparent:hover {
  background: var(--silhouette-light);
}

#basic-calculator .basic-calculator-numpad-orange {
  background: var(--orange-dark);
}

#basic-calculator .basic-calculator-numpad-orange:hover {
  background: var(--orange-light);
}

#basic-calculator .basic-calculator-numpad-grey {
  background: var(--silhouette-dark);
}

#basic-calculator .basic-calculator-numpad-grey:hover {
  background: var(--silhouette-light);
}

@media only screen and (max-width: 600px) {
  #basic-calculator {
    width: calc(0.74 * 354px);
    max-width: calc(0.74 * 354px);
  }
  #basic-calculator #basic-calculator-display {
    padding: calc(0.74 * 2rem);
  }
  #basic-calculator #basic-calculator-display-cli {
    font-size: calc(0.74 * 1rem);
    height: calc(0.74 * 1rem);
    letter-spacing: calc(0.74 * 0.25rem);
    margin-bottom: calc(0.74 * 1rem);
  }
  #basic-calculator #basic-calculator-display-output {
    font-size: calc(0.74 * 2.4rem);
  }
  #basic-calculator #basic-calculator-numpad {
    grid-gap: calc(0.74 * 1rem);
    padding: calc(0.74 * 2rem);
  }
  #basic-calculator .basic-calculator-numpad-key {
    font-size: calc(0.74 * 1.6rem);
    height: calc(0.74 * 64px);
    width: calc(0.74 * 64px);
  }
}