@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500&display=swap');
/* Reset */

*, *:focus, *:hover {
  outline: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea, select, option {
  border: 0;
}

/* Definitions */

:root {
  --trueBlack: #000000;
  --trueWhite: #FFFFFF;
  --white: #FBFBFB;
  --coal: #121212;
  --grey: darkgrey;
  --lightOrange: #F5A00D;
  --darkOrange: #FF8C00;
  --whiteSilhouette: rgba(255, 255, 255, 0.1);
  --coalSilhouette: rgba(0, 0, 0, 0.1);
  --stock: all 0.25s ease;
}

/* Uncategorised */

body {
  opacity: 0;
  background-color: var(--whiter);
  font-family: 'JetBrains Mono';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

/* Header */

header {
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 7vh;
  background-color: var(--trueBlack);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#header-title {
  font-size: 13px;
  font-weight: 500;
  color: var(--white);
  letter-spacing: 2px;
  text-transform: lowercase;
}

#header-version {
  font-size: 8px;
  font-weight: 600;
  color: var(--darkOrange);
}

/* Nav */

nav {
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 10vh;
  background-color: var(--trueBlack);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.nav-btn {
  cursor: pointer;
}

.nav-btn-icon {
  font-size: 18px;
}

#nav-home-btn {
  background-color: var(--darkOrange);
  color: var(--white);
  padding: 10px 20px;
  width: auto;
  border-radius: 25px;
  margin-left: 5vw;
  margin-right: 5vw;
  transition: var(--stock);
}

#nav-home-btn:hover {
  background-color: var(--lightOrange);
}

#nav-go-btn, #nav-info-btn {
  /* background-color: var(--coal); */
  color: var(--white);
  padding: 10px 20px;
  width: auto;
  border-radius: 25px;
  transition: var(--stock);
}

#nav-go-btn:hover, #nav-info-btn:hover {
  color: var(--grey);
}

/* App */

.app {
  width: 100vw;
  height: calc(100vh - 17vh);
  margin-top: 7vh;
  margin-bottom: 10vh;
}

/* App: Launchers */

.launcher {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.launcher-infobox {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 200px;
  margin: 1vw;
  transition: var(--stock);
  cursor: pointer;
}

.launcher-infobox-icon {
  font-size: 56px;
  color: var(--coal);
}

.launcher-infobox-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--coal);
  padding: 4px 14px;
  transition: var(--stock);
}

.launcher-infobox-active-text {
  color: var(--white);
  background-color: var(--darkOrange);
}

/* Hidden */

.absent {
  display: none;
}